<div class="home__container">
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePricing="R$ 129.99"
    ></app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVO"
    gameType="DISC | PS5"
    gamePricing="R$ 269.90"
    ></app-card>

    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="BEST OF YEAT"
    gameType="DIGITAL | PS5"
    gamePricing="R$ 429.99"
    ></app-card>

    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="DISC | PS3  PS4  PS5"
    gamePricing="R$ 369.90"
    ></app-card>


</div>



