
.menu-bar__container{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100vw;
    height: 2.5rem;
    box-shadow: 0px, 0px, 6px, 0px rgba(0,0,0,0.5);
}

.menu-bar__logo{
    margin-left: 1.875rem;
    display: flex;
    align-items: center;
}

.menu-bar__items{
    display: flex;
    margin: auto;
    align-items: center;
}

.menu-bar__items > ul{
    display: flex;
    
    list-style: none;
    gap: 1rem;
}

.menu-bar__items > ul > li{

    padding: 0.31rem;
}

.menu-bar__items > ul > li > a{
    color: rgb(7,7,7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.31rem;
}

.menu-bar__items > ul > li > a:hover{
    color: blue;
    font-weight: 600;
}